.hello {
    height: 400px;
    width: 1000px;
    border-radius: 50px;
    background-color: red;
    color: white;
    border: black 1px solid;
    text-align: center;
    font-family: Arial;
}

.hello-header h1 {
    padding-top: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 6em;
    letter-spacing: 20px;
    margin: -10px;
}

.hello-header p {
    margin-top: 0px;
    text-transform: lowercase;
    font-size: 2em;
    letter-spacing: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.hello-body {
    font-family: "Comic Sans MS";
    background-color: white;
    font-size: 8em;
    text-align: center;
    padding: 12px;
    color: black;
}

